# Proyecto Airbnb NYC üóΩ

Este proyecto consiste en construir un pipeline ETL sencillo con Python + AWS + Power BI. Utilizamos datos abiertos de Airbnb en la ciudad de Nueva York publicados en Kaggle.

Objetivo: preparar un conjunto de datos limpio y confiable para an√°lisis de precios, tipos de habitaciones y disponibilidad por barrios.

**Tecnolog√≠as:**
- Python (limpieza y preprocesamiento)
- AWS S3 (almacenamiento)
- Power BI (visualizaci√≥n)

In [2]:
import os
os.getcwd()

'c:\\Users\\octav\\Desktop\\Proyecto Airbnb NY\\ETL'

In [1]:
# Carga del dataset
import pandas as pd

# Cargar dataset original
df = pd.read_csv("../Datasets/AB_NYC_2019.csv")
df.shape

(48895, 16)

In [2]:
# Exploraci√≥n de los datos
df.head()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.889500e+04,4.889500e+04,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000,38843.000000,48895.000000,48895.000000
mean,1.901714e+07,6.762001e+07,40.728949,-73.952170,152.720687,7.029962,23.274466,1.373221,7.143982,112.781327
std,1.098311e+07,7.861097e+07,0.054530,0.046157,240.154170,20.510550,44.550582,1.680442,32.952519,131.622289
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.471945e+06,7.822033e+06,40.690100,-73.983070,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.967728e+07,3.079382e+07,40.723070,-73.955680,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000
75%,2.915218e+07,1.074344e+08,40.763115,-73.936275,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

In [6]:
# Limpieza de datos 

import pandas as pd
import csv

# Filtramos las columnas de inter√©s
cols = [
    'id', 'name', 'host_id', 'neighbourhood_group', 'neighbourhood',
    'latitude', 'longitude', 'room_type', 'price', 'minimum_nights',
    'number_of_reviews', 'availability_365'
]
df = df[cols]

# Eliminamos duplicados
df = df.drop_duplicates()

# Eliminamos precios sospechosos
df = df[(df['price'] > 0) & (df['price'] < 1000)]


# Exportar limpio
df.to_csv("../Output/airbnb_clean.csv", index=False, quoting=csv.QUOTE_ALL)